{% extends 'shop/layouts/base.html' %}
{% load static %}
{% block title %} Informations personnelles {% endblock title %}


{% block content %}
    <div class="responsiveLogin">
    <div class="container">
        <div class="container h-75">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card_register">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="{% static 'img/logo.png' %}" class="brand_logo" alt="Logo">
                        </div>
                    </div>
                    <div class="justify-content-center form_container">
                        <h3>Vos informations: </h3>
                    <br/>

                        {% if infos.nom == None and infos.prenom == None %}
                            <p>Nom complet: <a href="{% url 'account:UpdateInfos' %}"> Ajouter</a></p>
                        {% else %}
                            <p>  {{ infos.nom }} {{ infos.prenom }}</p>
                        {% endif %}

                        {% if infos.adresse == None and infos.codePostal == None and infos.localite == None %}
                            <p> Adresse :<a href="{% url 'account:UpdateInfos' %}"> Ajouter </a></p>
                        {% else %}
                            <p>  {{ infos.adresse }} {{ infos.codePostal }}, {{ infos.localite }} </p>
                        {% endif %}

                        {% if infos.numerosMobile == None %}
                            <p>Mobile:<a href="{% url 'account:UpdateInfos' %}"> Ajouter</a></p>
                        {% else %}
                            <p>Mobile : {{ infos.numerosMobile }}</p>
                        {% endif %}

                        <p> Email : {{ infos.user.email }} </p>
                        <p> Date de naissance : {{ infos.dateNaissance }} </p>
                        <a href="{% url 'account:UpdateInfos' %}"><input type="button" class="btn btn-primary" value="Modifier"></a>
                    </div>
                    <div class="mt-2">
                        <div class="d-flex justify-content-center links">
                           Mettre à jour votre mail <a href="{% url 'account:email_change' %}" class="ml-2">Cliquer ici</a>
                        </div>
                        <div class="d-flex justify-content-center links">
                          Modifier le mot de passe <a href="{% url 'account:password_change' %}" class="ml-2">Cliquer ici</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include 'shop/layouts/footer.html' %}
{% endblock content %}