{% extends 'shop/layouts/base.html' %}
{% load static %}
{% block title %} Connexion {% endblock title %}

{% block content %}
    <div class="responsiveLogin">
    <div class="container h-50">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card_login">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="{% static 'img/logo.png' %}" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
                        {% if form.errors %}
                            <br/><br/><br/><br/>
                            <p>Votre mot de passe et votre mail ne fonctionnent pas, rééssayez</p>
                        {% endif %}
                        {% for field in form %}
                            <div class="form-group pb-4">
                                {% if field.field.required %}
                                <span class="required"></span> {% endif %}
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text }} </p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" value="Login">
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                       Pas encore de compte?<a href="{% url 'account:register' %}" class="ml-2">S'inscrire</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <a href="{% url 'password_reset' %}">Mot de passe oublié?</a>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
    {% include 'shop/layouts/footer.html' %}
{% endblock content %}