{% extends 'shop/layouts/base.html' %}
{% block content %}

    <div class="containerMax">
        <div class="container">
            <div class="reset">
                <p>
                    Nous vous avons envoyé les instructions pour modifier votre mot de passe. Si un compte existe avec
                    l'email que vous avez entré, vous recevrez un mail à cette adresse.

                </p>
                <p>
                    Si vous ne recevez pas d'email, assurez-vous que l'adresse mail saisie est celle avec laquelle vous
                    êtes enregisté et vérifiez vos spams.

                </p>
            </div>
        </div>
    </div>
    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock %}