{% extends 'shop/layouts/base.html' %}
{% load static %}
{% block title %}Reset mot de passe {% endblock title %}
{% block content %}
    <div class="reset">

        <div class="container h-75">
            <div class="d-flex justify-content-center h-100" >
                <div class="user_card_login">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="{% static 'img/logo.png' %}" class="brand_logo" alt="Logo">
                        </div>

                    </div>
                    <div class=" justify-content-center form_container" >
                        <h3> Mot de passe oublié ? </h3>
                        <p> Entrez votre adresse mail</p>

                    </div>


                    <div class="formReset" style="height: 100%">
                        <div class="justify-content-center form_container pt-0">
                            <form class='reset' method="post">
                                {% csrf_token %}
                                {{ form }}

                                <button type="submit" class="btn btn-primary">Envoyer</button>

                            </form>
                            <div class="mt-4">
                                <div class="d-flex justify-content-center links ">
                                    Don't have an account?<a href="{% url 'account:register' %}" class="ml-2">S'inscrire</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock content %}