{% extends 'shop/layouts/base.html' %}
{% load static %}
{% block title %} Création de compte{% endblock title %}

{% block content %}
    <div class="responsiveLogin">
    <div class="container">
        <div class="container h-75">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card_register">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="{% static 'img/logo.png' %}" class="brand_logo" alt="Logo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
                            {% if form.errors %}
                                <br/><br/><br/><br/>
                                <p>Le mot de passe ne correspond pas, réessayez.</p>
                            {% endif %}
                            <div class="mt-1"></div>
                            {% for field in form %}
                                {% if field.label == 'Password' %}
                                {% for field_pro in profile %}
                                    <div class="form-group pb-4">
                                    {% if field_pro.field.required %}
                                    <span class="required"></span> {% endif %}
                                    {{ field_pro }}
                                    </div>
                                {% endfor %}
                                <div class="form-group pb-4">
                                    {% if field.field.required %}
                                    <span class="required"></span> {% endif %}
                                    {{ field }}
                                </div>
                                {% else %}
                                    <div class="form-group pb-4">
                                    {% if field.field.required %}
                                    <span class="required"></span>
                                    {% endif %}
                                    {{ field }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <input type="submit" class="btn btn-primary" value="Create account">
                        </form>
                    </div>
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                           Déjà un compte chez Amatha?<a href="{% url 'account:login' %}" class="ml-2">Se connecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include 'shop/layouts/footer.html' %}
{% endblock content %}