{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Panier {% endblock title %}
{% block content %}
    <div class="responsiveLogin">
    {% if bool == False %}

        <div class="containerMax">
        <div class="container">
            <h1>Votre panier</h1>
            <br/>


            {% for produit in panierItems %}
                <div class="card m-3 d-inline-flex" style="width: 25%;">
                    <div class="card-body">
                        <a class="text-decoration-none" href="{% url 'shop:detailsCos' produit.id %}">
{#                        {% if produit.product.nomFichier and produit.atelier.nomFichier%}#}
                            {% if produit.product %}
                                 <img class="cadre" src="{% static produit.product.nomFichier.url %}"
                                     alt="{{ produit.product.nom }}">
                            {% else %}
                                <img class="cadre" src="{% static produit.atelier.nomFichier.url %}"
                                     alt="{{ produit.atelier.nom }}">
                            {% endif %}
{#                        {% endif %}#}
                            <p class="text-uppercase text-center fs-5">
                                {% if produit.product %}
                                    {{ produit.product.nom }}
                                {% else %}
                                    {{ produit.atelier.titre }}
                                {% endif %}
                            </p>
                        </a>
                        <a href="{% url 'cart:update_quantity_less' produit.id %}"><i class="far fa-minus-square"
                                                                                      style="font-size: 150%;"></i></a>
                        Quantité : {{ produit.quantity }}
                        <a href="{% url 'cart:update_quantity_more' produit.id %}"><i class="far fa-plus-square"
                                                                                      style="font-size: 150%;"></i></a>
                        <br/>
                        {{ produit.price }} CHF
                        <a href="{% url 'cart:delete_from_cart' produit.id %}"><i class="far fa-times-circle"
                                                                                  style="font-size: 150%;"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% for cart in panier %}
            <p class="text-center">Prix total {{ cart.total_price }} CHF</p>
        {% endfor %}


        <a href="{% url 'paiement:landing-page' %}">
            <button type="button" class="btn btn-outline-secondary float-end">Commander</button>
        </a>
        <br/><br/>
    {% endif %}

{% if bool %}
    <div class="row text-center mt-5">
        <h1>Vous n'avez pas de produits dans votre panier !</h1>
        <p>Selectionnez et commandez vos articles plus tard !</p>
    </div>
{% endif %}
</div>
</div>
    {% include 'shop/layouts/footer_fixed.html' %}

{% endblock %}