{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Accueil {% endblock title %}
{% block content %}
    {% include 'shop/layouts/searchbar.html' %}
    <div class="espace header" style="height:30px;"></div>
    <!-- Carousel -->
    <div style="margin:50px;">
        <iframe src="https://khloud-3.ispring.eu/s/embed_player/33e09f4e-d841-11ec-94bb-1e32ebb96795" width="560" height="315" frameborder="0" border="0" scrolling="auto" allowtransparency="true" allowfullscreen="1" style="border: none; background-color: transparent;"></iframe>
    </div>


    <div style="height:100px"></div>

    <div class="d-flex" >
        <hr style=" width: 30%; size:5px;color:#EBA427;margin-left:20px;margin-left:auto;margin-right: 15px; ">
        <p style="padding-top:5px">
        <h3> · Les nouveautés · </h3></p>
        <hr style=" width: 30%; size:2px;color:#EBA427;margin-right:auto;margin-left:15px ">
    </div>

    <div class="d-flex" style="width:80%;margin:auto;margin-top:10px;text-align:center">
        {% for produit in produits %}

            <div style="width: 20%; margin: auto; padding-top: 20px">
                {% if produit.nomFichier %}
                    <figure>
                    <img class="cadreAccueil" src="{% static produit.nomFichier.url %}"
                         alt="{{ produit.nomFichier.url }}"
                         style="height:auto;">
                {% endif %}
                <figcaption>   {% for cos in produitsCosmetiques %}
                    {% if  cos.id == produit.id %}
                        <a class="text-decoration-none"
                           href="{% url 'shop:detailsCos' cos.id %}"> {{ produit.nom }} </a>
                    {% endif %}
                {% endfor %}


                    {% for prodInt in produitsInterieurs %}
                        {% if prodInt.id == produit.id %}
                            <a class="text-decoration-none"
                               href="{% url 'shop:detailsProInt' prodInt.id %}"> {{ produit.nom }} </a>
                        {% endif %}
                    {% endfor %}

                    {% for vet in vetements %}
                        {% if vet.id == produit.id %}
                            <a class="text-decoration-none"
                               href="{% url 'shop:detailsVet' vet.id %}"> {{ produit.nom }} </a>
                        {% endif %}
                    {% endfor %}
                </figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>

    <div class="ImagesAccueil d-flex mt-5" style="height: 50%">
        <table style="height: 100%;width: 20%;margin-left: 30%">
            <tr class="trAccueil">
                <td id="fondBougies">
                    <a style="display:inline-block;width:100%;height:100%;" title="Nos produits d'interieurs"
                       href="{% url 'shop:produitInterieur' %}">
                    </a>
                </td>
            </tr>
        </table>

        <table style="height: 100%;width: 20%;margin-left:10px">
            <tr class="trAccueil">
                <td id="fondTurban">
                    <a style="display:inline-block;width:100%;height:100%;" title="Nos accessoires"
                       href="{% url 'shop:vetements' %}">
                    </a>
                </td>
            </tr>
            <tr class="trAccueil">
                <td style="height: 5px;border: 2px solid white">

                </td>
            </tr>
            <tr class="trAccueil">
                <td id="fondLogo">
                    <a style="display:inline-block;width:100%;height:100%;" title="Nos ateliers"
                       href="{% url 'shop:quiSommesNous' %}">
                    </a>
                </td>
            </tr>
        </table>
    </div>
<br/><br/>
    {% include 'shop/layouts/footer.html' %}

{% endblock content %}