<!DOCTYPE html>
{% extends 'shop/layouts/base.html' %}
{% load static %}


{% block content %}
    <h2 class="row m-4">Les ateliers à venir</h2>
    <div class="row m-5 p-4">
      <div class="containerMax">
        <div class="container">

            {% for atelier in ateliers %}
        <div class="col m-2">
                        <img src="{% static 'img/img_01.jpg'%}" alt = "img_01" width="300" style="margin-left: 2%">
                        <p  style="margin-left: 2%">Nom de l'atelier : <a href="{% url 'shop:detailsAtelier' atelier.id %}">{{atelier.titre}}</a></p>
                        <p style="margin-left: 2%">Prix : {{atelier.prix}} CHF</p>
            <!-- Information pour le a href va nous permetttre de relier avce la page qui sera crée pour le panier-->
                        <button type="button" class="btn btn-ajoute" style="margin-left: 2%">{# <a href="{% url '#' atelier.id %}">#} Ajouter au panier{# </a>#}</button>
            <!--Un if sera créé pour savoir quand un atelier est en fav ou non avec un coeur vide et plein-->
            <p style="margin-left: 2%"><i class="far fa-heart"></i></p>

        {% endfor  %}
        </div></div>
{% endblock %}