<!DOCTYPE html>

{% extends 'shop/layouts/base.html' %}
{% load static %}
{% block title %}Commandes {% endblock title %}

{% block content %}
    <div class="containerMax">
        <div class="container">
            <div class="d-flex">
                <hr style=" width: 35%;color:#EBA427;size:5px;margin-left:auto;margin-right: 15px;margin-top: 3.5%; ">
                <h3 style="padding-top:2%; ">  Mes commandes </h3>
                <hr style=" width: 35%;color:#EBA427;size:5px;margin-right:auto;margin-left:15px ; margin-top: 3.5%;">
            </div>
            {% for com in commandes %}
                <div class="card m-3 d-inline-flex" style="width: 30%;margin-left: 30%;">
                    <a class="text-decoration-none" href="{% url 'shop:detailsCommande' com.id %}">
                        <p style="text-align:right;margin-right:2%;margin-top: 2%;font-size:110%;">{{ com.comDatePaiement }}</p>
                        {# LE STATUT  #}
                        <p style="text-align:right;margin-right:2%;font-size:90%;font-weight: bold;"> Statut : {{ com.statut }}</p>

                        {% for totalfinal in totalCommande %}
                            {%  if forloop.counter == forloop.parentloop.counter %}
                                <p style="margin-left: 4%;font-size:180%;font-weight: bold;text-align: left;"> {{totalfinal }} CHF</p>
                            {% endif %}
                        {% endfor %}
                        {# NOMBRE D'ATELIER DANS LA COMMANDE #}
                        {% for nbrAtelier in listeNbrAtelier %}
                            {%  if forloop.counter == forloop.parentloop.counter %}
                                <p style="font-size:90%;margin-left: 4%;margin-bottom:0.5%;text-align: left;">Nombre d'atelier :{{ nbrAtelier }}</p>
                            {% endif %} {% endfor %}
                        {# NOMBRE D'ATELIER DANS LA PRODUIT #}
                        {% for nbrProduit in listeNbrProduit %}
                            {%  if forloop.counter == forloop.parentloop.counter %}
                                <p style="font-size:90%;margin-left: 4%;margin-bottom:0.5%;text-align: left;">Nombre de produit : {{ nbrProduit }}</p>
                            {% endif %} {% endfor %}
                        <p style="margin-left: 4%;font-size:90%;text-align: left;font-weight: bold;"> Commande n°{{ com.comNumero }}</p>




                        {#    {% for produit in listeProduit %}#}
                        {#{%  if forloop.counter == forloop.parentloop.counter %}#}
                        {#        <p align="center"> total ={{produit }}</p>#}
                        {#   {% endif %} {% endfor %}#}
                        {##}
                        {# {% for atelier in listeAtelier %}#}
                        {#{%  if forloop.counter == forloop.parentloop.counter %}#}
                        {#        <p align="center"> total ={{atelier }}</p>#}
                        {#   {% endif %} {% endfor %}#}
                        {# LE TOTALE DE LA COMMANDE #}
                    </a>
                </div>
            {% endfor %}
        </div></div>
    <br/>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if commandesPag.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ commandesPag.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if commandesPag.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ commandesPag.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in commandesPag.paginator.page_range %}
            {% if commandesPag.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
        {% elif i > commandesPag.number|add:'-5' and i < commandesPag.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if commandesPag.paginator.num_pages > commandesPag.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ commandesPag.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if commandesPag.has_next %}
        <li class ="page-item">
            <a class="page-link" href="?page={{ commandesPag.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class ="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
        {% endif %}
        </ul>
    </nav>
<br/><br/>

    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock %}