<!DOCTYPE html>

{% extends 'shop/layouts/base.html' %}
{% load static %}


{% block content %}
    <div class="containerMax">
        <div class="container">
            {% for somme in sommesCos %}
                {% for pho in photos %}
                    {% for cos in cosmetiques %}
                        {% if somme.produit == cos.produit_ptr and pho.produitId == cos.produit_ptr %}
                            <div class="card m-3 d-inline-flex" style="width: 25%;">
                            <span class="card-notify-year">
                                <a href="{% url 'account:favourite_add' cos.id %}">
                                        <i class="far fa-heart"></i>
                                </a>
                            </span>
                                <div class="card-body">
                                    <a class="text-decoration-none" href="{% url 'shop:detailsCos' cos.id %}">
                                        {% comment %}<img class="cadre" src="{{ pho.url }}" alt="{{ pho.nomFichier }}" style="height:auto;">{% endcomment %}
                                        <img class="cadre" src="{% static pho.url %}" alt="{{ pho.nomFichier }}" style="height:auto;">
                                        <p class="text-uppercase text-center fs-5">
                                            {{ cos.nom }}
                                        </p>

                                        <p class="text-center">{{ somme.montant }} CHF</p>
                                        <!-- Information pour le a href va nous permetttre de relier avce la page qui sera crée pour le panier-->
                                    </a>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-outline-secondary">
                                            {# <a href="{% url '#' cos.produit_ptr %}">#} Ajouter au
                                            panier{# </a>#}</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
      </div>
{% endblock %}
