<!DOCTYPE html>
{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="containerMax">
        <div class="container">
            <div class="row g-0 mx-auto rounded"  style="width: 80%;height: 50%; ">
                <div class="col-6 col-md-5 "  >
                    <img src= "{% static phoCos.url %}"  alt = "{{phoCos.nomFichier}}"  class="rounded mx-auto d-block" style=" margin-top: 3%;margin-left: 5%; margin-bottom:3%; width:400px; height: 270px;">
                </div>
                <div class="col-sm-6 col-md-7 fs-5 " style="margin-top: 1%;">
                    <p class="text-uppercase">{{ cosmetiques.nom }} </p>
                    <p style="">Prix : {{ sommesCos.montant }} CHF</p>
                    <p >Ingredient : {{ cosmetiques.ingredient }}</p>

                    <button type="button" class="btn btn-outline-secondary " >{# <a href="{% url '#' cos.produit_ptr %}">#} Ajouter au panier{# </a>#}</button>
                    <i class="far fa-heart" style="margin-left: 2%;color: black;"></i>
                    {#            Accordion pour plus d'information#}
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item" style="margin-left: -2%;">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button style=" margin-top: 2%;" class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Informations supplémentaires
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p >Description : {{ cosmetiques.description }}</p>
                                    <p >Categorie : {{ cosmetiques.categorie }}</p>
                                    <p >Gamme : {{ cosmetiques.gamme }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
