<!DOCTYPE html>

{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Produits d'intérieur {% endblock title %}
{% block content %}
    <div class="containerMax">
        <div class="container">
        <div class="d-flex">
        <hr style=" width: 35%; size:5px;color:#EBA427;margin-left:auto;margin-right: 15px;margin-top: 3%; ">
        <h3 style="padding-top:2%; ">  Les produits d'intérieur </h3>
        <hr style=" width: 35%; size:2px;color:#EBA427;margin-right:auto;margin-left:15px ; margin-top: 3%;">
    </div>
            {% for somme in sommesProInt %}
                    {% for pro in produitInt %}
                        {% if somme.produit == pro.produit_ptr and pro.produitActif == 1 %}
                            <div class="card m-3 d-inline-flex" style="width: 25%;">
                            <span class="card-notify-year">
                            {% if pro in proIntFav %}
                                <a href="{% url 'account:favourite_add_proInt' pro.id %}">
                                    <i class="fas fa-heart"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'account:favourite_add_proInt' pro.id %}">
                                    <i class="far fa-heart"></i>
                                </a>
                            {% endif %}
                            </span>
                                <div class="card-body">
                                    <a class="text-decoration-none" href="{% url 'shop:detailsProInt' pro.id %}">
                                        {% comment %}<img class="cadre" src="{{ pho.url }}" alt="{{ pho.nomFichier }}" style="height:auto;">{% endcomment %}
                                        {% if pro.nomFichier %}
                                        <img class="cadre" src="{% static pro.nomFichier.url %}" alt="{{ pro.nomFichier }}"
                                             style="height:auto;">
                                            {% endif %}
                                        <p class="text-uppercase text-center fs-5">
                                            {{ pro.nom }}
                                        </p>

                                        <p class="text-center">{{ somme.montant }} CHF</p>
                                        <!-- Information pour le a href va nous permetttre de relier avce la page qui sera crée pour le panier-->
                                    </a>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-outline-secondary">
                                            <a href="{% url 'cart:add_to_cart_proInt' pro.pk %}"> Ajouter au
                                            panier</a></button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
            {% endfor %}
        </div>
    </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if produitInt.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{ produitInt.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}

        {% if produitInt.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ produitInt.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in produitInt.paginator.page_range %}
            {% if produitInt.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
        {% elif i > produitInt.number|add:'-5' and i < produitInt.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if produitInt.paginator.num_pages > produitInt.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{ produitInt.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if produitInt.has_next %}
        <li class ="page-item">
            <a class="page-link" href="?page={{ produitInt.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class ="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
        {% endif %}
        </ul>
    </nav>
<br/><br/>
    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock %}