<!DOCTYPE html>

{% extends 'shop/layouts/base.html' %}
{% load static %}


{% block content %}
    <div class="containerMax">
        <div class="container">
            {% for somme in sommesProInt %}
                {% for pho in photos %}
                    {% for pro in produitInt %}
                        {% if somme.produit == pro.produit_ptr and pho.produitId == pro.produit_ptr and pro.produitActif == 1 %}
                            <div class="card m-3 d-inline-flex" style="width: 25%;">
                            <span class="card-notify-year">
                            {% if pro in proIntFav %}
                                <a href="{% url 'account:favourite_add_proInt' pro.id %}">
                                    <i class="fas fa-heart"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'account:favourite_add_proInt' pro.id %}">
                                    <i class="far fa-heart"></i>
                                </a>
                            {% endif %}
                            </span>
                                <div class="card-body">
                                    <a class="text-decoration-none" href="{% url 'shop:detailsVet' pro.id %}">
                                        {% comment %}<img class="cadre" src="{{ pho.url }}" alt="{{ pho.nomFichier }}" style="height:auto;">{% endcomment %}
                                        <img class="cadre" src="{% static pho.url %}" alt="{{ pho.nomFichier }}"
                                             style="height:auto;">
                                        <p class="text-uppercase text-center fs-5">
                                            {{ vet.nom }}
                                        </p>

                                        <p class="text-center">{{ somme.montant }} CHF</p>
                                        <!-- Information pour le a href va nous permetttre de relier avce la page qui sera crée pour le panier-->
                                    </a>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-outline-secondary">
                                            {# <a href="{% url '#' vet.produit_ptr %}">#} Ajouter au
                                            panier{# </a>#}</button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}