{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Qui sommes-nous? {% endblock title %}
{% block content %}
    {% include 'shop/layouts/searchbar.html' %}

    <div class="d-flex" style="margin-top: 2%;">
        <hr style=" width: 20%; size:5px;color:#EBA427;margin-left:auto;margin-right: 15px;margin-top: 3%; ">
        <h3 style="padding-top:2%; ">  Qui sommes-nous ? </h3>
        <hr style=" width: 20%; size:2px;color:#EBA427;margin-right:auto;margin-left:15px ; margin-top: 3%;">

    </div>
    <div class="d-flex" style="width:55%;margin:auto;margin-top:10px;text-align:justify; font-size: 110%;">
        <div class="textAccueil">
            <p> </br>
                Située à Genève, Amatha est une entreprise désireuse de mettre en avant les bienfaits que les produits naturels ont à nous offrir.
                </br>
                Utilisant des matières premières issues de différents pays, Amatha a pour but de promouvoir les traditions ancestrales africaines en matière de beauté.
                </br>
                Du Sénégal à Genève, nous ésperons pouvoir vous transmettre notre amour des produits seins et équitables.
                </br>
                À chacun de vos achats, un pourcentage sera reversé à une association Sénégalaise pour la construction d'une école.
                <h5 style="text-align: center;">Bonne visite chez Amatha !</h5>

            </p>
        </div>

<p></p>

    </div>
    <div class="text-center " >
    <br>
        <br>
      <img  src="{% static 'img/MargauxQSN.png' %}">
        <p style="text-align:center">Margaux,  créatrice de la marque Amatha</p>
    </div>
<br/><br/>
    {% include 'shop/layouts/footer.html' %}

{% endblock content %}
