<!DOCTYPE html>
{% extends 'shop/layouts/base.html' %}
{% load static %}


{% block content %}
<h2 class="row m-4">Catégorie des vêtements</h2>
<div class="row m-5 p-4">
    {% for somme in sommesVet %}
    <div class="col m-2">
        {% for pho in photos %}
        {% for vetement in vetements %}
        {% if somme.produit == vetement.produit_ptr and pho.produitId == vetement.produit_ptr %}
       <img src="{{pho.url}}" alt = "{{pho.nomFichier}}" >
        <p align="center" style="margin: auto">Nom produit: <a href="{% url 'shop:detailsVet' vetement.id %}"> {{vetement.nom}}</a></p>
        <p align = "center" style="margin: auto"> Prix: {{somme.montant}} CHF</p>
        <!-- Information pour le a href va nous permetttre de relier avce la page qui sera crée pour le panier-->
        <button type="button" class="btn btn-ajoute" style="margin-left: 25%">{# <a href="{% url '#' vetement.produit_ptr %}">#} Ajouter au panier{# </a>#}</button>
        <!--Un if sera créé pour savoir quand l'article est en fav ou non avec un coeur vide et plein-->
        <p align = "center"><i class="far fa-heart"></i></p>
        {%  endif%}
        {% endfor  %}
    </div>
    {% endfor  %}{% endfor  %}
</div>
</div>
{% endblock %}