<!-- Header -->

{#<head>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
{#</head>#}

{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Accueil admin{% endblock title %}
<!-- Body -->
{% block content %}

    <div class="d-flex">
        <hr style=" width: 35%;color:#EBA427;size:5px;margin-left:auto;margin-right: 15px;margin-top: 3.5%; ">
        <h3 style="padding-top:2%; "> Accueil administration </h3>
        <hr style=" width: 35%;color:#EBA427;size:5px;margin-right:auto;margin-left:15px ; margin-top: 3.5%;">
    </div>


    <div class="container" style="margin-top: 60px; margin-left: 33%;">
        <div class="col-6">
{#            Liens vers la gestion de stocks#}
            <a href="{% url 'administration:gestionStock' %}" class="text-decoration-none" class="text-dark">
                <div class="p-3 border bg-light">Stock</div>
            </a>
        </div>
        <br/>
        <div class="col-6">
{#            Liens vers la gestion de produist#}
            <a href="{% url 'administration:gestionProduit' %}" class="text-decoration-none" class="text-dark">
                <div class="p-3 border bg-light">Produit</div>
            </a>
        </div>
        <br/>
        <div class="col-6">
{#            Liens vers la gestion de ateliers#}
            <a href="{% url 'administration:gestionAtelier' %}" class="text-decoration-none" class="text-dark">
                <div class="p-3 border bg-light">Atelier</div>
            </a>
        </div>
        <br/>
        <div class="col-6">
{#            Liens vers la gestion de clients#}
            <a href="{% url 'administration:gestionClient' %}" class="text-decoration-none" class="text-dark">
                <div class="p-3 border bg-light">Client</div>
            </a>
        </div>
        <br/>
        <div class="col-6">
{#            Liens vers la gestion de commande#}
            <a href="{% url 'administration:gestionCommande' %}" class="text-decoration-none" class="text-dark">
                <div class="p-3 border bg-light">Commande</div>
            </a>
        </div>
        <br/>

    </div>

    <br/><br/><br/>
    <br/><br/><br/>
    {% include 'shop/layouts/footer.html' %}
{% endblock content %}