<!-- Header -->

{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Produit Intérieur Détails{% endblock title %}

<!-- Body -->
{% block content %}


    <br/>
<div class="container-xxl" style="margin-left: 20%; ">
    <div class="container-sm">
        <h2>Détails Produit Intérieur</h2>
        <hr/>
        <table class="table">
            <tr>
                <td style="font-weight: bold">
                    Nom :
                </td>
                <td>
                    {{ detailsProInt.nom}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Description :
                </td>
                <td>
                    {{ detailsProInt.description }}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Stock Min :
                </td>
                <td>
                    {{ detailsProInt.stockMin}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Stock Max :
                </td>
                <td>
                    {{ detailsProInt.stockMax}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    stock disponible :
                </td>
                <td>
                    {{ detailsProInt.stockDisponible}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Poids :
                </td>
                <td>
                    {{ detailsProInt.poid}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Type :
                </td>
                <td>
                    {{ detailsProInt.type}}
                </td>
            </tr>

        </table>

        <br/>

        <a href="{% url 'administration:updateProInt' detailsProInt.id %}">
            <button type="button" class="btn btn-outline-secondary">
            Modifier produit
            </button>
        </a>


    </div>
   </div>




    <br/><br/><br/>
    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock content %}
