
<!-- Header -->

{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Commande Détails{% endblock title %}

<!-- Body -->
{% block content %}


    <br/>

    <div class="container-xxl" style="margin-left: 20%; ">
        <div class="container-sm">

            <h2>Détails Commande</h2>
            <hr/>

            <script>
                var cptCommandePro = 0;
                var cptCommandeAte = 0;
                const produit = "produit";
                const produits = "produits";
                const atelier = "atelier";
                const ateliers = "ateliers";
            </script>

            {% for pro in ligneProCom %}

                <script>
                    var cptCommandePro = cptCommandePro + 1;
                </script>

            {% endfor %}

            {% for ate in ligneAteCom %}

                <script>
                    var cptCommandeAte = cptCommandeAte + 1;
                </script>

            {% endfor %}

            <p><span style="font-weight: bold">La commande n°</span> <span
                    style="color: blue; font-weight: bold">{{ detailsCommande.comNumero }}</span>
                <span style="font-weight: bold">:</span> contient

                <span style="color: #CC3434; font-weight: bold">
                    <script>
                        document.write(cptCommandePro)
                    </script>
                </span>

                <script>
                    if (cptCommandePro <= 1) {
                        document.write(produit)
                    } else {
                        document.write(" ", produits)
                    }
                </script>

                et

                <span style="color: #CC3434; font-weight: bold">
                    <script>
                        document.write(cptCommandeAte)
                    </script>
                </span>

                <script>
                    if (cptCommandeAte <= 1) {
                        document.write(atelier)
                    } else {
                        document.write(" ", ateliers)
                    }
                </script>

            </p>


{#            {% for pro in ligneProCom %}#}
{##}
{#                {{ pro.produit.nom }} {{ pro.quantite }}#}
{#            {% endfor %}#}
{#            <br>#}
{#            {% for ate in ligneAteCom %}#}
{#                {{ ate.atelier.titre }} {{ ate.nbrPersonne }}#}
{#            {% endfor %}#}

            <table class="table table-bordered" style="width: 500px;">
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Prix total</th>
                </tr>

                {% for pro in ligneProCom %}
                    <tr>
                        <td>{{ pro.produit.nom }}</td>
                        <td>{{ pro.quantite }}</td>
                        {% for pri in prix %}
                            {% if pri.produit == pro.produit %}
                                <td>{{ pri.montant }}</td>
{#                                Multiplication#}
                                <td>{% widthratio pro.quantite 1 pri.montant %}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>


        <hr/>

{#        Affichage Atelier #}
        <table class="table table-bordered" style="width: 700px">
                <tr>
                    <th>Atelier</th>
                    <th>Nombre de personne</th>
                    <th>Date </th>
                    <th>Prix</th>
                    <th>Prix total</th>
                </tr>

                {% for ate in ligneAteCom %}
                    <tr>
                        <td>{{ ate.atelier.titre }}</td>
                        <td>{{ ate.nbrPersonne }}</td>
                        <td>{{ ate.atelier.dateDebut }}</td>
                        <td>{{ ate.atelier.prix }}</td>
                        <td>{% widthratio ate.nbrPersonne 1 ate.atelier.prix %}</td>
                    </tr>
                {% endfor %}
            </table>


        </div>
    </div>
    <br/>
     <table style="margin-left: 65%;margin-right: 5%;">
                            <tr>
                                <th><a href="{% url 'administration:gestionCommande'  %}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        Retour
                                    </button>
                                </a></th>
                                <th><a href="{% url 'administration:accueilAdmin'  %}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        Retour Accueil
                                    </button>
                                </a>
                                </th>
                            </tr>
                        </table><br/><br/>
    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock content %}
