<!-- Header -->

{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Produit Cosmétique Détails{% endblock title %}

<!-- Body -->
{% block content %}


    <br/>
<div class="container-xxl" style="margin-left: 20%; ">
    <div class="container-sm">
        <h2>Détails vetêments</h2>
        <hr/>
        <table class="table">
            <tr>
                <td style="font-weight: bold">
                    Nom :
                </td>
                <td>
                    {{ detailsProCos.nom}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Description :
                </td>
                <td>
                    {{ detailsProCos.description }}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Stock Min :
                </td>
                <td>
                    {{ detailsProCos.stockMin}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Stock Max :
                </td>
                <td>
                    {{ detailsProCos.stockMax}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    stock disponible :
                </td>
                <td>
                    {{ detailsProCos.stockDisponible}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Poids :
                </td>
                <td>
                    {{ detailsProCos.poid}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Ingrédient :
                </td>
                <td>
                    {{ detailsProCos.ingredient}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Gammme :
                </td>
                <td>
                    {{ detailsProCos.gamme}}
                </td>
            </tr>

            <tr>
                <td style="font-weight: bold">
                    Catégorie :
                </td>
                <td>
                    {{ detailsProCos.categorie}}
                </td>
            </tr>

        </table>

        <br/>

        <a href="{% url 'administration:updateProCos' detailsProCos.id %}">
            <button type="button" class="btn btn-outline-secondary">
                Modifier produit
            </button>
        </a>



    </div>
   </div>




    <br/><br/><br/>
    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock content %}

