{% extends 'shop/layouts/base.html' %}
{% load static %}

<!-- Body -->
{% block title %}Gestion Commande{% endblock title %}
{% block content %}

    <div class="container-xxl" style="margin-left: 18%">
        <div class="container-sm" style="margin-top: 30px">
            <h1>Gestion des commandes</h1>
            <hr/>
            <br/>

            <div class="border border-2" class="d-grid gap-3" p-3 mb-5>

                <div class="accordion accordion-flush" id="accordionFlushExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                <h5 class="shadow-none  bg-light rounded">Commandes</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">


                            {# ############# Search Bar ####################}

                                <form class="d-flex" method="post" ACTION="{% url 'administration:searchCommande' %}">
                                    {% csrf_token %}
                                    <input class="form-control me-2" type="search"
                                           placeholder="Commande numéro" aria-label="Search" name="searched">
                                    <button class="btn btn-outline-secondary" type="submit">
                                        Recherche
                                    </button>
                                </form>

                                {#  #############################################}


                                <table class="table table-bordered" style="width: 60%;">
                                    <tr>
                                        <th>N° commande</th>
                                        <th>Total</th>
                                        <th colspan="2">Satut</th>
                                        <th colspan="2">Date de commande</th>
                                    </tr>
                                    <!-- Boucle pour afficher les nom de vetements -->
                                    {% for com in commandes %}
                                        <tr>

                                            <td for="insertStock" class="col-form-label">
                                                {{ com.comNumero }}
                                            </td>

                                            {% for totalfinal in totalCommande %}

                                                {% if forloop.counter == forloop.parentloop.counter %}

                                                    <td for="insertStock" class="col-form-label">
                                                        {{ totalfinal }}
                                                    </td>

                                                {% endif %}

                                            {% endfor %}

                                            {#                                            {% if com.envoye == True %}#}
                                            {#                                                <td for="insertStock" class="col-form-label">Envoyé</td>#}
                                            {#                                            {% else %}#}
                                            {#                                                <td for="insertStock" class="col-form-label">En attente</td>#}
                                            {#                                            {% endif %}#}

                                            <td for="insertStock" class="col-form-label">
                                                {{ com.statut }}
                                            </td>
                                            <td align="right">
                                                <a href="{% url 'administration:updateStatutCommande' com.id %}"
                                                   class="btn-outline-secondary btn-sm"
                                                   class="text-decoration-none">Modifier statut</a>
                                            </td>

                                            <td for="insertStock" class="col-form-label">
                                                {{ com.comDate }}
                                            </td>

                                            <td align="right">
                                                <a href="{% url 'administration:adminCommandeDetails' com.id %}"
                                                   class="btn-outline-secondary btn-sm"
                                                   class="text-decoration-none">Détails commande</a>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                </table>
                            </div>

                            <br/>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <br/><br/>

        <a href="{% url 'administration:accueilAdmin' %}" style="float: right; margin-right: 5%">
            <button type="button" class="btn btn-outline-secondary">
                Retour accueil
            </button>
        </a>

    </div>

    <br/><br/><br/>
{% include 'shop/layouts/footer_fixed.html' %}
{% endblock content %}

