{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Gestion Clients{% endblock title %}

<!-- Body -->
{% block content %}


    <div class="container-xxl" style="margin-left: 18%">
        <div class="container-sm" style="margin-top: 30px">
            <h1>Gestion des client</h1>
            <hr/>
            <br/>

            <div class="border border-2" class="d-grid gap-3" p-3 mb-5>

                <div class="accordion accordion-flush" id="accordionFlushExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                <h5 class="shadow-none  bg-light rounded">Clients</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                {# ############# Search Bar ####################}

                                <form class="d-flex" method="post" ACTION="{% url 'administration:searchClient' %}">
                                    {% csrf_token %}
                                    <input class="form-control me-2" type="search"
                                           placeholder="Nom de client" aria-label="Search" name="searched">
                                    <button class="btn btn-outline-secondary" type="submit">
                                        Recherche
                                    </button>
                                </form>

                                {#  #############################################}


                                <table class="table table-bordered" style="width: 500px;">
                                    <tr>
                                        <th colspan="2">Client nom</th>
                                    </tr>
                                    <!-- Boucle pour afficher les nom de vetements -->
                                    {% for cli in client %}
                                        <tr>

                                            <td for="insertStock" class="col-form-label">

                                                <a href="{% url 'administration:formationClient' cli.id %}">
                                                    {{ cli.prenom }} {{ cli.nom }}
                                                </a>
                                            </td>

                                            <td align="right">
                                                <a href="{% url 'administration:adminClientDetails' cli.id %}"
                                                   class="btn-outline-secondary btn-sm"
                                                   class="text-decoration-none">Voir commandes</a>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                </table>
                            </div>
                            <!--Button Insertion -->
                            {#                            <div class="container" style="margin-left: 75%; ">#}
                            {#                                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">#}
                            {#                                    <div class="col">#}
                            {#                                        <a href="{% url 'administration:insertionAtelier' %}" class="text-decoration-none">#}
                            {#                                            <div class="p-3 border bg-light">Créer un nouveau atelier</div>#}
                            {#                                        </a>#}
                            {#                                    </div>#}
                            {##}
                            {#                                </div>#}
                            {#                            </div>#}
                            <br/>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <br/><br/>

        <a href="{% url 'administration:accueilAdmin' %}" style="float: right; margin-right: 5%">
            <button type="button" class="btn btn-outline-secondary">
                Retour accueil
            </button>
        </a>

    </div>

    <br/><br/><br/>
{% include 'shop/layouts/footer_fixed.html' %}
{% endblock content %}
