{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Gestion Stock{% endblock title %}

<!-- Body -->
{% block content %}

    <div class="container-xxl">
        <div class="container-sm" style="margin-top: 30px">
            <h1>Gestion de stock</h1>
        <hr/>
            <br/>
            <div class="border border-2" class="d-grid gap-3" p-3 mb-5>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                <h5 class="shadow-none  bg-light rounded">Stock de vetêments</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered" style="width: 500px;">
                                    <tr>
                                        <th>Nom produit</th>
                                        <th colspan="2">Quantité disponible</th>
                                    </tr>
                                    <!-- Boucle pour afficher les nom de vetements -->
                                    {% for vet in vetements %}

                                        <tr>
                                            <td for="insertStock" class="col-form-label">
                                                <a href="{% url 'administration:adminVetDetails' vet.id %}">
                                                    {{ vet.nom }}
                                                </a>
                                            </td>
                                                 {% if vet.stockMin >= vet.stockDisponible %}
                                              <td for="insertStock" class="col-form-label" style="color: red;"> Stock faible</td>
                                                {% else %}
                                                <td for="insertStock" class="col-form-label">{{ vet.stockDisponible }}
                                        {% endif %}
                                            </td>
                                            <td align="right"><a href="{% url 'administration:updateStockVet' vet.id %}"
                                                                 class="btn-outline-secondary btn-sm"
                                                                 class="text-decoration-none">Modifier</a>
                                            </td>
                                        </tr>
                                        <tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                <h5 class="shadow-none  bg-light rounded">Stock de produits intérieurs</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered" style="width: 500px;">
                                    <tr>
                                        <th>Nom produit</th>
                                        <th colspan="2">Quantité en stock</th>
                                    </tr>
                                    <!-- Boucle pour afficher les nom de vetements -->
                                    {% for proInt in produitsInterieurs %}

                                        <tr>
                                            <td for="insertStock" class="col-form-label">
                                                <a href="{% url 'administration:adminProIntDetails' proInt.id %}">
                                                    {{ proInt.nom }}
                                                </a>
                                            </td>
                                                {% if proInt.stockMin >= proInt.stockDisponible %}
                                              <td for="insertStock" class="col-form-label" style="color: red;"> Stock faible</td>
                                                {% else %}
                                                <td for="insertStock" class="col-form-label">{{ proInt.stockDisponible }}
                                        {% endif %}
                                            </td>
                                            <td align="right"><a href="{% url 'administration:updateStockProInt' proInt.id %}"
                                                                 class="btn-outline-secondary btn-sm"
                                                                 class="text-decoration-none">Modifier</a>
                                            </td>
                                        </tr>
                                        <tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                <h5 class="shadow-none  bg-light rounded">Stock de produits cosmétiques</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered" style="width: 500px;">
                                    <tr>
                                        <th>Nom produit</th>
                                        <th colspan="2">Quantité en stock</th>
                                    </tr>
                                    <!-- Boucle pour afficher les nom de vetements -->
                                    {% for proCos in produitsCosmetiques %}
                                        <tr>
                                            <td for="insertStock" class="col-form-label">
                                                <a href="{% url 'administration:adminProCosDetails' proCos.id %}">
                                                    {{ proCos.nom }}
                                                </a>
                                            </td>
                                              {% if proCos.stockMin >= proCos.stockDisponible %}
                                              <td for="insertStock" class="col-form-label" style="color: red;"> Stock faible</td>
                                                {% else %}
                                                <td for="insertStock" class="col-form-label">{{ proCos.stockDisponible }}
                                                {% endif %}
                                            </td>
                                            <td align="right"><a href="{% url 'administration:updateStockProCos' proCos.id %}"
                                                                 class="btn-outline-secondary btn-sm"
                                                                 class="text-decoration-none">Modifier</a>
                                            </td>
                                        </tr>
                                        <tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br/><br/>
        <a href="{% url 'administration:accueilAdmin' %}" style="float: right; margin-right: 5%">
            <button type="button" class="btn btn-outline-secondary">
                Retour accueil
            </button>
        </a>
    </div>
    <br/><br/><br/>
    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock content %}

