<!-- Header -->


{% extends 'shop/layouts/base.html' %}
{% load static %}

<!-- Body -->
{% block content %}

    <br/>
    <div class="container-xxl" style="margin-top: 20px; margin-left: 15%">
        <div class="container-sm">
            <h2 class="p-3">Insertion Produits Cosmétiques</h2>
            <hr/>
            <div class="order-4 p-4 bd-highlight" style=" margin-left: 10%; width: 50%">
                <form action="{% url 'administration:insertionProCos' %}" method="post" enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ formInsertProCos.as_p }}
                    <br/>
                    <input type="submit" class="btn btn-secondary" value="Ajouter">
                </form>
            </div>
        </div>
    </div>
{% include 'shop/layouts/footer_fixed.html' %}

{% endblock content %}
