<!-- Header -->


{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Insertion Vêtement{% endblock title %}

<!-- Body -->
{% block content %}

    <br/>
    <div class="container-xxl" style="margin-top: 20px; margin-left: 15%">
        <div class="container-sm">
            <h2 class="p-3">Insertion Vetêments</h2>
            <hr/>
            <div class="order-4 p-4 bd-highlight" style=" margin-left: 10%; width: 50%">
                <form action="{% url 'administration:insertionVetement' %}" method="post" enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ formInsertVet.as_p }}

                    <br/>
                    <table style="margin-left: 45%;margin-right: 5%;">
                            <tr>
                                <th ><input type="submit" value="Ajouter" class="btn btn-outline-secondary"></th>
                                <th><a href="{% url 'administration:gestionProduit'  %}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        Retour
                                    </button>
                                </a></th>
                                <th><a href="{% url 'administration:accueilAdmin'  %}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        Retour Accueil
                                    </button>
                                </a>
                                </th>
                            </tr>
                        </table>
<br/>
                </form>
            </div>


            <!--
<div class="order-5 p-5 bd-highlight">
<table>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in formInsertVet %}
        <div class="form-group pb-4">
            <tr>
                <td>{{field.label_tag}}</td>
                {% if field.field.required %} <span class="required"></span>
                {% endif %}
                <td>
                    {{ field }}
                </td>
            </tr>
            {% if field.help_text %}
            <p class="help">{{ field.help_text }} </p>
            {% endif %}
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="Ajouter">
    </form>
</table>
</div>
-->
        </div>
    </div>
    <br/><br/>
    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock content %}

