{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block title %}Modifier Produit Intérieur{% endblock title %}

<!-- Body -->
{% block content %}

    <br/>
    <div class="container-xxl" >
        <div class="container-sm" style="margin-top: 30px">
            <h1 class="p-3">Modifier Produit Intérieur</h1>
            <hr/>
            <div class="order-4 p-4 bd-highlight" style=" margin-left: 10%; width: 50%">
                <form action="" method="post" enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ formUpdateProInt.as_p }}
                    <br/>
                     <table style="margin-left: 45%;margin-right: 5%;">
                            <tr>
                                <th ><input type="submit" value="Modifier" class="btn btn-outline-secondary"></th>
                                <th><a href="{% url 'administration:gestionProduit'  %}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        Retour
                                    </button>
                                </a></th>
                                <th><a href="{% url 'administration:accueilAdmin'  %}">
                                    <button type="button" class="btn btn-outline-secondary">
                                        Retour Accueil
                                    </button>
                                </a>
                                </th>
                            </tr>
                        </table>
                    <br/>
                </form>
            </div>


        </div>
    </div>
    <br/><br/>
    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock content %}
