/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


    /*accueil*/
    header {
        height: 20%;
    }

    #NouveautesArticles {

    }

    .firstNav {
        margin-bottom: 19px;
        text-align: center;
        background-color: white;
        z-index: 998;
        box-sizing: border-box;
    }

    .cadreAccueil {
        height: 60%;
        width: 60%;
        margin: auto;

    }

    .carousel {
        margin-top: 200px;
        /*margin-bottom: 20px;*/
        margin-left: auto;
        margin-right: auto;
        /*width: 60%;*/
        /*height: 50%;*/
    }

    .carousel.inner {
        /*width: 80%;*/
        /*margin-top: 1000px;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/

    }

    .carousel-item {
        /*!*margin-top: 200px;*!*/
        /*height: 100%;*/
    }


    #Hrleft {
        margin-top: 20px;
        width: 20%;
        border: 1px solid #EBA427;
        margin-left: auto;
        margin-right: 15px;
    }

    #HrRight {
        margin-top: 20px;
        width: 20%;
        border: 1px solid #EBA427;
        margin-right: auto;
        margin-left: 15px;
    }


            /* CSS du catalogue*/
    .containerMax {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }

    .containerMax h1 {
        padding-top: 10px;
    }

    .container {
        text-align: center;
    }

    .cadre {
        height: 150px;
        width: 10%;
    }

    div [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .card {
        transition: 0.5s;
        cursor: pointer;
        max-height: 30%;
        height: auto;
    }

    #cardCatalogue {
        width: 100%;
    }

    /* Blue : #128C9F */
    .card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

    .card-title i {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
        color: #ffa710;
    }

    .card-title i:hover {
        transform: scale(1.25) rotate(100deg);
        color: #18d4ca;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

    }

    .card::before,
    .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform 0.3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: "";
        pointer-events: none;
    }

    .card::before {
        transform-origin: left top;
    }

    .card::after {
        transform-origin: right bottom;
    }

    .card:hover::before,
    .card:hover::after,
    .card:focus::before,
    .card:focus::after {
        transform: scale3d(1, 1, 1);
    }

    .card-notify-year {
        position: absolute;
        right: 0;
        background: #128C9F;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
    }

    .card p {
        text-decoration: none;
        color: black;
    }

    .fa-heart {
        color: #fff;
        font-size: 150%;
    }

    .fa-heart:hover {
        color: blue;
    }

/*login*/

.user_card_login {
    height: 400px;
    width: 350px;
    margin-top: 200px;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.user_card_register {
    height: 550px;
    width: 350px;
    margin-top:200px;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.user_card_client {
    height: 750px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #128C9F;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #c0392b !important;
}

#register_button{
    height: 25px;
    width: 25px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /*accueil*/
    .firstNav {
        margin-bottom: 19px;
        text-align: center;
        background-color: white;
        z-index: 998;
        box-sizing: border-box;

    }


    .carousel {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 50%;


    }

    .carousel.inner {
        /*width: 80%;*/
        /*margin-top: 1000px;*/
        margin-left: auto;
        margin-right: auto;

    }

    .carousel-item {
        /*!*margin-top: 200px;*!*/
        height: 100%;
    }

    #NouveautesArticles {
        width: 100%;
        height: 1000px;
    }

    .cadreAccueil {
        height: 100%;
        width: 100%;
        margin: auto;

    }

    #Hrleft {
        margin-top: 20px;
        width: 30%;
        border: 1px solid #EBA427;
        margin-left: auto;
        margin-right: 15px;
    }

    #HrRight {
        margin-top: 20px;
        width: 30%;
        border: 1px solid #EBA427;
        margin-right: auto;
        margin-left: 15px;
    }


            /* CSS du catalogue*/
    .containerMax {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }

    .containerMax h1 {
        padding-top: 10px;
    }

    .container {
        text-align: center;
    }

    .cadre {
        height: 150px;
        width: 100%;
    }

    div [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .card {
        transition: 0.5s;
        cursor: pointer;
        max-height: 30%;
        height: auto;
    }

    #cardCatalogue {
        width: 25%;
    }

    /* Blue : #128C9F */
    .card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

    .card-title i {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
        color: #ffa710;
    }

    .card-title i:hover {
        transform: scale(1.25) rotate(100deg);
        color: #18d4ca;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

    }

    .card::before,
    .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform 0.3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: "";
        pointer-events: none;
    }

    .card::before {
        transform-origin: left top;
    }

    .card::after {
        transform-origin: right bottom;
    }

    .card:hover::before,
    .card:hover::after,
    .card:focus::before,
    .card:focus::after {
        transform: scale3d(1, 1, 1);
    }

    .card-notify-year {
        position: absolute;
        right: 0;
        background: #128C9F;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
    }

    .card p {
        text-decoration: none;
        color: black;
    }

    .fa-heart {
        color: #fff;
        font-size: 150%;
    }

    .fa-heart:hover {
        color: blue;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /*accueil*/
    .firstNav {
        margin-bottom: 19px;
        text-align: center;
        background-color: white;
        z-index: 998;
        box-sizing: border-box;

    }


    .carousel {
        /*margin-top: 300px;*/
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 50%;


    }

    .carousel.inner {
        /*width: 80%;*/
        /*margin-top: 1000px;*/
        margin-left: auto;
        margin-right: auto;

    }

    .carousel-item {
        /*!*margin-top: 200px;*!*/
        height: 100%;
    }

    #NouveautesArticles {
        /*height:30px;*/
        /*border: 2px solid red;*/
        width: 100%;
        height: 500px;
    }

    .cadreAccueil{
        /*border: 2px solid green;*/
        height: 10%;

    }

    #Hrleft {
        margin-top: 20px;
        width: 30%;
        border: 1px solid #EBA427;
        margin-left: auto;
        margin-right: 15px;
    }

    #HrRight {
        margin-top: 20px;
        width: 30%;
        border: 1px solid #EBA427;
        margin-right: auto;
        margin-left: 15px;
    }


            /* CSS du catalogue*/
    .containerMax {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }

    .containerMax h1 {
        padding-top: 10px;
    }

    .container {
        text-align: center;
    }

    .cadre {
        height: 150px;
        width: 100%;
    }

    div [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .card {
        transition: 0.5s;
        cursor: pointer;
        max-height: 30%;
        height: auto;
    }

    #cardCatalogue {
        width: 25%;
    }

    /* Blue : #128C9F */
    .card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

    .card-title i {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
        color: #ffa710;
    }

    .card-title i:hover {
        transform: scale(1.25) rotate(100deg);
        color: #18d4ca;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

    }

    .card::before,
    .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform 0.3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: "";
        pointer-events: none;
    }

    .card::before {
        transform-origin: left top;
    }

    .card::after {
        transform-origin: right bottom;
    }

    .card:hover::before,
    .card:hover::after,
    .card:focus::before,
    .card:focus::after {
        transform: scale3d(1, 1, 1);
    }

    .card-notify-year {
        position: absolute;
        right: 0;
        background: #128C9F;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
    }

    .card p {
        text-decoration: none;
        color: black;
    }

    .fa-heart {
        color: #fff;
        font-size: 150%;
    }

    .fa-heart:hover {
        color: blue;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*login*/
    .responsiveLogin{
        margin-top:180px;
    }
    /*accueil*/
    .firstNav {
        margin-bottom: 50px;
        text-align: center;
        background-color: white;
        z-index: 998;
        box-sizing: border-box;
    }


    .carousel {
        /*margin-top: 300px;*/
        margin-top: 150px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 50%;


    }

    .carousel.inner {
        /*width: 80%;*/
        /*margin-top: 1000px;*/
        margin-top: 500px;
        margin-left: auto;
        margin-right: auto;


    }

    .carousel-item {
        /*!*margin-top: 200px;*!*/
        height: 100%;
    }


    .cadreAccueil{
        height: 60%;
        width: 60%;
       /* margin: auto;*/

    }

    #Hrleft {
        margin-top: 20px;
        width: 30%;
        border: 1px solid #EBA427;
        margin-left: auto;
        margin-right: 15px;
    }

    #HrRight {
        margin-top: 20px;
        width: 30%;
        border: 1px solid #EBA427;
        margin-right: auto;
        margin-left: 15px;
    }



            /* CSS du catalogue*/
    .containerMax {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }

    .containerMax h1 {
        padding-top: 10px;
    }

    .container {
        text-align: center;
          margin-top : 100px;
    }

    .cadre {
        height: 100px;
        width: 100px;
    }

    div [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .card {
        transition: 0.5s;
        cursor: pointer;
        max-height: 30%;
        height: auto;
    }

    #cardCatalogue {
        width: 25%;
    }

    /* Blue : #128C9F */
    .card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

    .card-title i {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
        color: #ffa710;
    }

    .card-title i:hover {
        transform: scale(1.25) rotate(100deg);
        color: #18d4ca;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

    }

    .card::before,
    .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform 0.3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: "";
        pointer-events: none;
    }

    .card::before {
        transform-origin: left top;
    }

    .card::after {
        transform-origin: right bottom;
    }

    .card:hover::before,
    .card:hover::after,
    .card:focus::before,
    .card:focus::after {
        transform: scale3d(1, 1, 1);
    }

    .card-notify-year {
        position: absolute;
        right: 0;
        background: #128C9F;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
    }

    .card p {
        text-decoration: none;
        color: black;
    }

    .fa-heart {
        color: #fff;
        font-size: 150%;
    }

    .fa-heart:hover {
        color: blue;
    }

.user_card_login {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.user_card_register {
    height: 550px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.user_card_client {
    height: 750px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #128C9F;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #c0392b !important;
}

#register_button{
    height: 25px;
    width: 25px;
}
.descriptionDetails{
}

}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*accueil*/
    .firstNav {
        margin-bottom: 19px;
        text-align: center;
        background-color: white;
        z-index: 998;
        box-sizing: border-box;

    }


    .carousel {
        /*margin-top: 300px;*/
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 50%;

    }

    .carousel.inner {
        /*width: 80%;*/
        /*margin-top: 1000px;*/
        margin-left: auto;
        margin-right: auto;

    }

    .carousel-item {
        /*!*margin-top: 200px;*!*/
        height: 100%;

    }


    .cadreAccueil{
        height: 80%;
        width: 30%;

    }

    #Hrleft {
        margin-top: 20px;
        width: 30%;
        border: 1px solid #EBA427;
        margin-left: auto;
        margin-right: 15px;
    }

    #HrRight {
        margin-top: 20px;
        width: 30%;
        margin-right: auto;
        margin-left: 15px;
    }

    #NouveautesArticles {
        width: 100%;
        height: 30%;
    }

        /* CSS du catalogue*/
    .containerMax {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }

    .containerMax h1 {
        padding-top: 10px;
    }

    .container {
        text-align: center;
    }

    .cadre {
        height: 150px;
        width: 100%;
    }

    div [class^="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .card {
        transition: 0.5s;
        cursor: pointer;
        max-height: 30%;
        height: auto;
    }

    #cardCatalogue {
        width: 25%;
    }

    /* Blue : #128C9F */
    .card-title {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
    }

    .card-title i {
        font-size: 15px;
        transition: 1s;
        cursor: pointer;
        color: #ffa710;
    }

    .card-title i:hover {
        transform: scale(1.25) rotate(100deg);
        color: #18d4ca;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

    }

    .card::before,
    .card::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform 0.3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: "";
        pointer-events: none;
    }

    .card::before {
        transform-origin: left top;
    }

    .card::after {
        transform-origin: right bottom;
    }

    .card:hover::before,
    .card:hover::after,
    .card:focus::before,
    .card:focus::after {
        transform: scale3d(1, 1, 1);
    }

    .card-notify-year {
        position: absolute;
        right: 0;
        background: #128C9F;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
    }

    .card p {
        text-decoration: none;
        color: black;
    }

    .fa-heart {
        color: #fff;
        font-size: 150%;
    }

    .fa-heart:hover {
        color: blue;
    }

    /*login*/

.user_card_login {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.user_card_register {
    height: 550px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.user_card_client {
    height: 750px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #128C9F;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #c0392b !important;
}

#register_button{
    height: 25px;
    width: 25px;
}
}
