html {
	height: 100%;
}

/* CSS de la navbar*/
.far fa-user{
    width: 5px;
}
.firstNav{
    margin-top: 1%;
    text-align: center;
    border: 1px solid #128C9F;
}
.nav-link{
    color: #000;
}

.nav-link:hover{
    color: #128C9F;
}

#navHeader{
    background-color: rgba(18, 140, 159, 0.5);
}

/* CSS de la searchbar*/
.search-bar{
    z-index:1;
    top:100px;
    width:100%;
}

.input-group>.form-control:focus{
    box-shadow: none;
}

.input-group>.form-control{
    margin-right: 5px;
}

.btn-outline-dark{
    border-left: 1px solid #000;
    border-right:0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
}

.btn-check:active+.btn-outline-dark, .btn-check:checked+.btn-outline-dark, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active {
    color: #128C9F;
    background-color: #f8f9fa;
    border-left: 1px solid #128C9F;
}

.btn-outline-dark:hover{
    color: #128C9F;
    background-color: #f8f9fa;
    border-left: 1px solid #128C9F;
}

.btn-outline-dark:focus{
    box-shadow:none!important;
}

.fa-search{
    color: #000;
}

.fa-search:hover{
    color: #128C9F;
}
/* CSS de la base */
main{
	height: 100%;
    font-family: 'Raleway', sans-serif;
    background: url('../img/logoGauche.png') left no-repeat , url('../img/logoDroit.png') right no-repeat;
    background-size: 20%;
}
/*CSS du carousel*/

.carousel{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    width: 60%;
}

.carousel.inner{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*CSS du footer*/
footer{
    background-color: rgba(18, 140, 159, 0.5);
    padding-top: 3px;
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 10%;

}

.fa-instagram{
    color:black;
}

/* CSS du catalogue*/
.containerMax {
    width: 70% ;
    height: 1200px ; /* provisoire !!!!*/
    margin:auto;
    padding-top: 2%;
    padding-bottom:2%;

}
.container {
    text-align: center;
    margin:auto;
}
.cadre {
  height: 150px;
  width: 100%;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  transition: 0.5s;
  cursor: pointer;
  max-height: 30%;
  height:auto;
}
/* Blue : #128C9F */
.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.card-notify-year {
        position: absolute;
        right: 0;
        background: #128C9F;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 14px;
        width: 50px;
        height: 50px;
        padding: 15px 0 0 0;
}

.card p{
    text-decoration: none;
    color: black;
}

.fa-heart{
    color: #fff;
    font-size: 150%;
}

.fa-heart:hover{
    color: blue;
}

.btn btn-outline-secondary{
    color:rgba(235,164,39,0.25) ;
}


/*!* articles accueil *!*/

.ArticlesAccueil{

    height: 40%;
    width: 60%;
    margin: auto;
    border: 2px solid rgba(235,164,39,0.25);
}







/*!* pop up*!*/
/*!* The Modal (background) *!*/
/*.modal {*/
/*  display: none; !* Hidden by default *!*/
/*  position: fixed; !* Stay in place *!*/
/*  z-index: 1; !* Sit on top *!*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%; !* Full width *!*/
/*  height: 100%; !* Full height *!*/
/*  overflow: auto; !* Enable scroll if needed *!*/
/*  background-color: rgb(0,0,0); !* Fallback color *!*/
/*  background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*}*!*/

/*!* Modal Content/Box *!*/
/*.modal-content {*/
/*  background-color: #fefefe;*/
/*  margin: 15% auto; !* 15% from the top and centered *!*/
/*  padding: 20px;*/
/*  border: 1px solid #888;*/
/*  width: 50%; !* Could be more or less, depending on screen size *!*/
/*}*/

/*!* The Close Button *!*/
/*.close {*/
/*  color: #aaa;*/
/*  float: right;*/
/*  font-size: 28px;*/
/*  font-weight: bold;*/
/*}*/


/*.close:hover,*/
/*.close:focus {*/
/*  color: black;*/
/*  text-decoration: none;*/
/*  cursor: pointer;*/
/*}