{% load static %}

<nav class="firstNav">
    <section class="search-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4 ">
                    <form method="post" action="{% url 'shop:searchProduit' %}">
                        {% csrf_token %}
                        <div class="p-1 m-5 bg-light shadow border border-secondary">
                            <div class="input-group ">
                                <input type="search" placeholder="Cherchez vos produits ici" aria-label="search"
                                       name="searchedProduit"
                                       class="form-control border-0 bg-light">
{#                                <div class="input-group-append">#}
{#                                    <div class="btn-group">#}
{#                                        <button type="button"#}
{#                                                class="btn btn-outline-dark dropdown-toggle smallscreen"#}
{#                                                data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                            Catégorie#}
{#                                        </button>#}
{#                                        <div class="dropdown-menu">#}
{#                                            <a class="dropdown-item" href="#">Produits</a>#}
{#                                            <a class="dropdown-item" href="#">Intérieur</a>#}
{#                                            <a class="dropdown-item" href="#">Vêtements</a>#}
                                            {#                                            <div class="dropdown-divider"></div>#}
                                            {#                                            <a class="dropdown-item" href="#">Test Link</a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-link mt-1" id="search_button_color"><i
                                            class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-4 py-4">
                    {#    Logo en entête #}
                    <a class="navbar-brand .d-print-inline-block" href="/">
                        <img src="{% static 'img/logo.jpg' %}" alt="AMATHA"
                             class="img-fluid" width="270"> </a>
                </div>

                {# Menu account #}
                <div class="col-4 py-5 ps-5 fixed">
                    <div class="btn-group header"  style="width:5%;margin:5px">
                        {%  if request.user.is_authenticated  %}
                        <div >
                            <a href="{% url 'account:favourite_list' %}"
                               title="Vos favoris !"> <i class="far fa-heart xs" style="color:#EBA427;"></i> </a>
                        </div>
                        {% else %}
                        <div class="btn-group header"  style=" width:5%; margin:5px">
                           <a href = '{% url 'account:login' %}' ><i class="far fa-heart" style="color:#EBA427;"></i></a>
                        </div>
                        {% endif %}
                    </div>

                    <div class="btn-group header" style="width:5%;margin:5px">
                        <button type="button" class="btn navbar-toggler" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="far fa-user" style="color:#EBA427"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <!--si l'utilisateur est authentifié et que ce n'est pas un administrateur du site-->
                            {% if request.user.is_authenticated and not user.is_staff %}
                                <li>
                                    <button class="dropdown-item" type="button"><a href="{% url 'account:logout' %}"> Se
                                        déconnecter </a></button>
                                </li>
                                <li>
                                    <button class="dropdown-item" type="button"><a
                                            href="{% url 'account:informations' %}">
                                        Mon compte</a></button>
                                </li>
                                 <li>
                                    <button class="dropdown-item" type="button"><a
                                            href="{% url 'shop:commande' %}">
                                        Mes commandes</a></button>
                                </li>

                            {% elif request.user.is_authenticated and user.is_staff %}
                                <li>
                                    <button class="dropdown-item" type="button"><a href="{% url 'account:logout' %}"> Se
                                        déconnecter </a></button>
                                </li>
                                <li>
                                    <button class="dropdown-item" type="button"><a href="{% url 'administration:accueilAdmin' %}">
                                        Admin </a></button>
                                </li>

                            {% else %}
                                <li>
                                    <button class="dropdown-item" type="button"><a href="{% url 'account:login' %}">
                                        Connexion </a></button>
                                </li>

                                <li>
                                    <button class="dropdown-item" type="button"><a href="{% url 'account:register' %}">
                                        Créer un compte </a></button>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    {%  if request.user.is_authenticated  %}
                    <div class="btn-group header"  style=" width:5%; margin:5px">
                        <a href = '{% url 'cart:panier' %}' ><i class="far fa-shopping-cart fa-1x " style="color:#EBA427;margin-left: 15px;font-size: 125%;"></i></a>
                    </div>
                    {% else %}
                        <div class="btn-group header"  style=" width:5%; margin:5px">
                           <a href = '{% url 'account:login' %}' ><i class="far fa-shopping-cart fa-1x " style="color:#EBA427;margin-left: 15px;font-size: 125%;"></i></a>
                        </div>
                    {% endif %}
                    {%  if request.user.is_authenticated  %}
{#                        <div  style="border: 2px solid #ffa710;padding-right:0px;padding-left: 0px">#}
                            <p> Bienvenue {{ user.username }} !</p>
{#                        </div>#}

                    {% endif %}

                </div>


                <nav class="navbar navbar-expand-lg navbar-light" id="navHeader">
                    <div class="container-fluid">

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mx-auto">

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'shop:produitInterieur' %}">Les produits d'intérieur</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'shop:cosmetique' %}">Les cosmétiques</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'shop:vetements' %}">Les accessoires</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'shop:atelier' %}">Les ateliers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'shop:quiSommesNous' %}">Qui sommes-nous?</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>
</nav>
