{% load static %}
{#<section class="search-bar">#}
{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <div class="col-lg-8 mx-auto">#}
{#                <form action="#">#}
{#                    <div class="p-1 m-5 bg-light shadow border border-secondary">#}
{#                        <div class="input-group">#}
{#                            <input type="search" placeholder="Search" class="form-control border-0 bg-light">#}
{#                            <div class="input-group-append">#}
{#                                <div class="btn-group">#}
{#                                    <button type="button" class="btn btn-outline-dark dropdown-toggle smallscreen"#}
{#                                            data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                        Catégorie#}
{#                                    </button>#}
{#                                    <div class="dropdown-menu">#}
{#                                        <a class="dropdown-item" href="#">Produits</a>#}
{#                                        <a class="dropdown-item" href="#">Intérieur</a>#}
{#                                        <a class="dropdown-item" href="#">Vêtements</a>#}
{#                                        <div class="dropdown-divider"></div>#}
{#                                        <a class="dropdown-item" href="#">Test Link</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="input-group-append">#}
{#                                <button type="submit" class="btn btn-link mt-1"><i class="fas fa-search"></i></button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}