{% extends 'shop/layouts/base.html' %}
{% load static %}

{% block content %}
<section class="mt-5">
    <table class="table mx-auto w-50">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produit</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Quantité</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in panier %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product.nom }}</td>
                <td>{% widthratio item.price item.quantity 1 %}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mx-auto w-50">
        <p><span style="font-weight: bold">Total :</span> {{ prix_total }} CHF</p>
        <button type="submit" id="checkout-button" class="btn btn-secondary">Checkout</button>
    </div>
</section>
{% endblock %}